<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>{{ publicationTitle }}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="page.css" />
    <link rel="stylesheet" type="text/css" href="toc.css" />
    {%  if content.Cover != "" %}
    <link rel="stylesheet" type="text/css" href="cover.css" />
    <link rel="cover" href="{{ sections.PublicationId }}-cover.jpg" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="print.css" />

    <script src="dist/paged.js"></script>
    <!-- <script src="dist/paged.polyfill.js"></script> -->
    <link rel="stylesheet" type="text/css" href="preview.css" media="screen">
</head>
<body>
{{ sections.Cover }}

{{ sections.TitlePage }}

{% if tocPosition == "after-title" %}
    {{ sections.Toc }}
{% endif %}

{% for row in sections.Content %}
    {{ row }}
{% endfor %}

{% if tocPosition == "end-of-book" %}
    {{ sections.Toc }}
{% endif %}
</body>
</html>